<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-xxl-center">We can't retrieve what you are looking for</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Classes" asp-action="Index">Home Page</a>
    </div>    
</div>
